@model EAD_Project_ii_.Models.item
@{
    ViewBag.Title = "rates";
    Layout = "~/Views/Shared/_mySharedPage.cshtml";
}

<section id="main" class="wrapper">
    <div class="container">

        <header class="major">
            <h2>Your Cart</h2>
        </header>
        <section>
            <h3>you have purchased</h3>
            <div class="table-wrapper">
                @{
                    if(Model != null)
                    {
                    <table>
                        <thead>
                            <tr>
                                <th>Number</th>                                
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                   
                            <tr>
                                    <td>@Model.Id</td>
                                    <td>@Model.itemName</td>
                                    <td>@Model.itemQuantity</td>
                                    <td>@Model.itemPrice</td>
                                </tr>        
                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3"></td>
                                <td>Total Price: @Model.itemPrice</td>
                            </tr>
                        </tfoot>
                    </table>
                   
                    }
                    else
                    {
                        <p>You have not purchased any thing yet</p>
                    }
                     }
            </div>
        </section>

        <!-- Buttons -->

    </div>
</section>

