@model List<EAD_Project_ii_.Models.item>
@{
    ViewBag.Title = "Item Delete";
    Layout = "~/Views/Shared/_adminSharedPage.cshtml";
}

<section id="main" class="wrapper">
    <div class="container">

        <header class="major">
            <br>
            <h2>Delete Item</h2>
        </header>
        <section>
            <div class="table-wrapper">
                @{
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.itemName</td>
                                    <td>@item.itemQuantity</td>
                                    <td>@item.itemPrice</td>
                                    <td>@Html.ActionLink("Delete", "delete", new { id = @item.Id })</td>
                                </tr>        
                            }
                        </tbody>
                    </table>
                }
            </div>
        </section>
    </div>
</section>

