@model List<EAD_Project_ii_.Models.item>
@{
    ViewBag.Title = "items";
    Layout = "~/Views/Shared/_mySharedPage.cshtml";
}
<section id="main" class="wrapper" >
    <div class="container">
        <section>
            <header class="major">
                <h2>Items</h2>
            </header>
            <div class="box alt">
                <div class="row 50% uniform">
                    @{
                        foreach (var item in Model)
                        {
                        <div class="4u">
                            <span class="image" >
                                <img style="max-height:120px; max-width:200px; height:auto; width:auto; padding: 10px 10px 10px 10px !important;" src="@item.itemPhoto"  alt="" />
                                <p style="text-align: center;">
                                    @item.itemName | @item.itemQuantity | @item.itemPrice<br>
                                    <a  href="~/Product/cart/@item.Id" class="button icon fa-download" onClick="myfunction">Add to Cart</a>
                                </p>
                            </span>
                        </div>
                        }    
                    }
                </div>
            </div>
        </section>
    </div>
</section>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    var currentLink = null;
    function myfunction() {
        $(":a").click(function () {
            
        });
    }
</script>